.navegacion{
    width: 100%;
    background-color: #343A40;
    color: white;
}
.contenedor{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 0;
}
.navegacion h1{
    text-transform: lowercase;
    font-size: 4rem;
    color: #E8E46E;
}
.navegacion h1 span{
    text-transform: uppercase;
    color: white;
}
.navegacion ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
.navegacion ul li{
    font-size: 1.5rem;
    list-style: none;
    margin: 1rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
}
.navegacion ul li:hover{
    color: #E8E46E;
}