*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}
/* GENERALES */
h1{
    font-size:4rem;
}
h2{
    font-size:3.5rem;
}
h3{
    font-size:3rem;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* UTILIDADES */
.fw100{
    font-weight: 100;
}
.fw400{
    font-weight: 400;
}
.fw700{
    font-weight: 700;
}
.centrarTexto{
    text-align: center;
}
.seccion{
    max-width: 120rem;
    width: 80%;
    margin: 0 auto;
}
