/* .contenido{
    height: 100%;
    border: solid 1px #FFC107;
    border-radius: 2rem;
    background-color: #E1E8EB;
    color: #343A40;
    box-shadow: 0px 5px 12px 5px rgba(0, 0, 0, 0.35);
    padding: 2rem 1rem;
    margin: 0 auto;
    text-transform: lowercase;
} */

.contenidoCount{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: .2rem;
}

.contenidoCount input, button{
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    background-color: #fff;
    color: #343A40;
    text-align: center;
    padding: .7rem;
    text-transform: lowercase;
    border:1px solid #000;
    border-radius: .7rem;
    transition: .2s;
    cursor: pointer;
}

.contenidoCount input:hover, button:hover{
    border:1px solid #ed95ba;
}