.contenidoCount{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: .2rem;
}

.contenidoCount input, button{
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    background-color: #fff;
    color: #343A40;
    text-align: center;
    padding: .7rem;
    text-transform: lowercase;
    border:1px solid #000;
    border-radius: .7rem;
    transition: .2s;
    cursor: pointer;
    margin-bottom: 1rem;
}

.contenidoCount input:hover, button:hover{
    border:1px solid #ed95ba;
}